@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img{
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.wrap {
    max-width: 1318px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    padding: 22px 20px;
    background-color: #d70926;
    border-radius: 0;
    color: white;
    font-weight: 600;
    transition: 250ms ease all;
}

.btn:hover {
    background-color: #a80000;
    color: white;
}

.header1 {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #ededec;

}

.header1 .secondary-header .user-login a {
    text-decoration: none;
    color: black;
}

.secondary-header>div {
    font-weight: 600;
    float: right;
    height: auto;
    z-index: 1;
    background-color: #ededec;
}

.user-login {
    display: inline-block;
    width: 110px;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    padding: 7px 25px;
}

.search-box {
    display: inline-block;
    width: 210px;
    border: none;
    padding: 7px 25px;
    border-left: 1px solid #ccc;
    cursor: pointer;
}

.header2 {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 34px;
    transition: all 0.2s ease;
    background-color: transparent;
}

.header2.active {
    background-color: white;
    box-shadow: 0px 1px 0px 0px #999;
}

.primary-header {
    z-index: 2;
    width: 100%;
    background-color: transparent;
}

.header2 .primary-header .logo {
    position: fixed;
    top: 0;
    z-index: 4;
}

.header2 .primary-header .logo a {
    display: inline-block;
    width: 105px;
}

.header2 .primary-header .logo a img {
    width: 100%;
    height: 100%;
}

.header2 .primary-header .search-hidden {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: white;
    padding: 25px 0;
    text-align: center;
    display: none;
    height: 108px;
    top: 0;
    left: 0;
}

.header2 .primary-header .search-hidden.active {
    display: block;
}

.header2 .primary-header .search-hidden .search-form .search {
    display: inline-block;
    position: relative;
}

.header2 .primary-header .search-hidden .search-form .search input {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 13px 10px 13px 60px;
    width: 700px;
    height: 55px;
    border: 1px solid;
    background-color: #ededec;
    line-height: 1.5;
    border: 1px solid rgba(93, 93, 92, .3);
}

.header2 .primary-header .search-hidden .search-form .btn {
    display: inline-block;
    position: absolute;
    right: calc(50% - 650px);
    width: 55px;
    height: 55px;
    background-color: #ededec;

}

.header2 .primary-header .search-hidden .search-form .btn img {
    position: absolute;
    top: 16px;
    transform: translate(-50%);
}

.header2 .primary-header .search-hidden .search-form .search img {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.primary-navbar {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 9px;
}

.navbar {
    margin: 0;
    display: inline-block;
    position: relative;
}

#ul-navbar {
    margin: 0;
}

.nav-item {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.nav-item:hover a::before {
    color: #5d5d5c;
    transform: scaleX(1);
}

.nav-item a::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d70926;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.header2.active .nav-item a {
    color: black;
    text-decoration: none;
}

.nav-group-button {
    display: inline-block;
}

.nav-group-button .book-visit {
    background-color: #ededec;
    color: black;
    padding: 18px 30px;
    border: none;
    font-weight: 600;
    margin-right: 20px;
}

.nav-group-button .book-visit:hover {
    background-color: #ddd;
}

.nav-group-button .join-now {
    padding: 18px 30px;
    border: none;
    font-weight: 600px;
}

.bg-header {
    background-image: url("../image/blog/baker-street.png");
    padding-bottom: 60px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    overflow: hidden;
}

.bg-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 565px;
    background: linear-gradient(to bottom, black 5%, rgba(0, 0, 0, 0.3) 15%);
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-header .bg-header-container {
    height: 465px;
    position: relative;
    text-align: center;
}

.bg-header .bg-header-container .bg-header-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    padding: 0 15px;
}

.bg-header .bg-header-container .bg-header-content .title {
    text-shadow: 0 4px 9px #000;
    margin-bottom: 30px;
    font-size: 68px;
    line-height: 1.1;
    font-weight: 700;
}

.bg-header .bg-header-container .bg-header-content .form-search {
    max-width: 750px;
    margin: 30px auto 0 auto;
    position: relative;
}

.bg-header .bg-header-container .bg-header-content .form-search img {
    position: absolute;
    width: 20px;
    left: 30px;
    top: 29px;
}

.bg-header .bg-header-container .bg-header-content .form-search input[type="text"] {
    border: none;
    font-size: 18px;
    line-height: 1.5;
    padding: 25px 30px 25px 75px;
    margin: 0;
    display: inline-block;
    width: 85%;
    float: left;
}

.bg-header .bg-header-container .bg-header-content .form-search input[type="text"]:focus {
    outline: none;
}

.bg-header .bg-header-container .bg-header-content .form-search .btn {
    width: 15%;
    height: auto;
    float: left;
    padding: 28px 0;
}

.auto-blog {
    padding: 48px 0 16px 0;
}

.auto-blog .list-blog {
    text-align: center;
    margin: 0;
}

.auto-blog .list-blog .blog-item {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0 10px;
    line-height: 1.5;
    font-weight: 500;
    cursor: pointer;
}

.auto-blog .list-blog .blog-item.active {
    color: #d70926;
}

.blog-card {
    padding-bottom: 48px;
}

.blog-card .card {
    padding: 32px 16px 0;
    cursor: pointer;
}

.blog-card .card .img {
    width: 100%;
    overflow: hidden;
}

.blog-card .card .img img {
    width: 100%;
}

.blog-card .card .detail {
    margin-top: 15px;
}

.blog-card .card .detail .type {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 500;
    color: black;
    margin-bottom: 5px;
}

.blog-card .card .detail .title {
    font-size: 38px;
    font-weight: 500;
    color: black;
    line-height: 1;
}

.blog-card .card .detail .date {
    font-size: 14px;
    font-weight: 500;
    color: #5d5d5c;
}

.blog-card .card .detail .date .datetime {
    padding-right: 15px;
    position: relative;
}

.blog-card .card .detail .date .datetime::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #5d5d5c;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 2px);
    right: 2px;
}

.blog-card .card-small .detail .title {
    font-size: 24px;
}

.blog-card .card-small .detail .date {
    margin-bottom: 40px;
}

.page-number {
    padding: 48px;
    margin-bottom: 48px;
    text-align: center;
}

.page-number .button {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.page-number .button img {
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translateY(-50%);
}

.page-number .list-numbers {
    display: inline-block;
    position: relative;
}

.page-number .list-numbers ul {
    list-style: none;
    margin: 0;
}

.page-number .list-numbers .number {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: none;
    color: #000;
    transform: skew(-15deg);
    float: left;
    cursor: pointer;
}

.page-number .list-numbers .number.active {
    background-color: #d70926;
    color: #fff;
}

.page-number .list-numbers .number span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}


.footer {
    background-color: black;
    color: #9a9a9a;
    padding: 45px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title-footer {
    color: #fff;
    font-size: 26px;
    margin-bottom: 45px;
    font-weight: 500;
}

.tag-list {
    margin-bottom: 60px;
}

.title-item {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.child-item {
    font-size: 14px;
    font-weight: 500;
    transition: 250ms ease color;
    cursor: pointer;
}

.child-item:hover {
    color: #fff;
}

.social-media {
    display: inline-block;
}

.social-media>div {
    color: white;
    display: inline-block;
    font-size: 25px;
    position: relative;
    top: 5px;
}

.payment-method {
    display: inline-block;
}

.accept-payment {
    margin: 0 15px;
}

.payment-method img {
    height: 32px;
    margin-right: .75rem;
}

.info-register {
    margin-top: 45px;
    padding: 30px 0;
    border-top: 1px solid #5d5d5c;
}

.register-address {
    padding: 0;
}

.FF2023 {
    padding: 0;
    text-align: right;
}

.twitter:hover {
    color: #38a1f3;
    cursor: pointer;
}

.facebook:hover {
    color: #4267b2;
    cursor: pointer;
}

.instagram:hover {
    color: #bc2a8d;
    cursor: pointer;
}