@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@100;300;400;500;700&display=swap');

@font-face {
    font-family: 'PlakW01';
    src: url('../Font/font1.woff2') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy W05';
    src: url('../Font/font2.woff2') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'MyFont3';
    src: url('../Font/font3.woff2') format('truetype');
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy W05', sans-serif;
    color: #000;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.wrap {
    max-width: 1320px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    padding: 22px 20px;
    background-color: #d70926;
    transition: 250ms ease all;
    position: relative;
    overflow: hidden;
    border-radius: 0;
}

.btn::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 110%;
    top: 0;
    left: 0;
    background-color: #a80000;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
    transform: translateX(-100%);
    transition: 250ms ease all;
    z-index: 0;
}

.btn p {
    position: relative;
    z-index: 1;
    margin: 0;
    line-height: 1;
    border-radius: 0;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.red-text {
    color: #d70926;
}

.btn:hover::before {
    transform: translateX(0);
    color: white;
}

.header1 {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: #ededec;
}

.header1 .secondary-header .search-box {
    display: inline-block;
    border: none;
    padding: 8px 115px 8px 50px;
    border-left: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    font-weight: 600;
    font-size: 13.5px;
}

.header1 .secondary-header .search-box svg {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.secondary-header>div {
    font-weight: 600;
    float: right;
    height: auto;
    z-index: 2;
    background-color: #ededec;
}

.header1 .secondary-header .user-login a {
    display: inline-block;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
    padding: 8px 25px 8px 50px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    font-size: 13.5px;
}

.header1 .secondary-header .user-login svg {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

.header2 {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 34px;
    transition: all 0.5s ease;
    background-color: transparent;
}

.header2.active {
    background-color: white;
    box-shadow: 0px 1px 0px 0px #999;
}

.header2.active-none {
    transform: translateY(-135%);
}

.primary-header {
    position: relative;
    z-index: 3;
    width: 100%;
    background-color: transparent;
}

.header2 .primary-header .logo {
    position: fixed;
    top: 0;
    z-index: 5;
}

.header2 .primary-header .logo a {
    display: inline-block;
    width: 105px;
}

.header2 .primary-header .logo a img {
    width: 100%;
    height: 100%;
}

.header2 .primary-header .search-hidden {
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: white;
    padding: 25px 0;
    text-align: center;
    height: 108px;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    transition: all 350ms ease;
}

.header2 .primary-header .search-hidden.active {
    transform: translateY(0);
}

.header2 .primary-header .search-hidden .search-form .search {
    display: inline-block;
    position: relative;
}

.header2 .primary-header .search-hidden .search-form .search input {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 13px 10px 13px 60px;
    width: 700px;
    height: 55px;
    border: 1px solid;
    background-color: #ededec;
    line-height: 1.5;
    border: 1px solid rgba(93, 93, 92, .3);
}

.header2 .primary-header .search-hidden .search-form .btn {
    display: inline-block;
    position: absolute;
    right: calc(50% - 650px);
    width: 55px;
    height: 55px;
    background-color: #ededec;
}

.header2 .primary-header .search-hidden .search-form .btn::before {
    background-color: #dddddd;
}

.header2 .primary-header .search-hidden .search-form .btn svg {
    position: absolute;
    top: 16px;
    transform: translate(-50%);
}

.header2 .primary-header .search-hidden .search-form .search svg {
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.primary-navbar {
    text-align: right;
    padding-top: 8px;
    padding-bottom: 9px;
}

.navbar {
    margin: 0;
    display: inline-block;
    position: relative;
}

#ul-navbar {
    margin: 0;
}

.nav-item {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.nav-item:hover a::before {
    color: #5d5d5c;
    transform: scaleX(1);
}

.nav-item a::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d70926;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.header2.active .nav-item a {
    color: black;
    text-decoration: none;
}

.nav-group-button {
    display: inline-block;
}

.nav-group-button .book-visit.btn {
    background-color: #ededec;
    padding: 18px 30px;
    border: none;
    margin-right: 15px;
    margin-left: 15px;
}

.nav-group-button .book-visit.btn p {
    color: black;
}

.nav-group-button .book-visit.btn::before {
    background-color: #dddddd;
}

.nav-group-button .join-now {
    padding: 18px 30px;
}

.bg-header {
    background-image: url("../image/findGym/fitnessfirst_interiors-bakerst_027_web.jpg");
    padding-top: 140px;
    padding-bottom: 60px;
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-header .container-title {
    position: relative;
    width: 100%;
    height: 75px;
}

.bg-header .title {
    font-size: 50px;
    color: white;
    font-weight: 700;
    margin-bottom: 0;
    padding: 0 16px;
    line-height: 1.1;
    text-shadow: 0 4px 9px #000;
    position: absolute;
    bottom: 0;
}

.main-content .form-search {
    position: relative;
}

.main-content .bd-bottom {
    border-bottom: 4px solid #d70926;
}

.main-content .form-search input[type="text"] {
    border: none;
    font-size: 18px;
    width: 100%;
    padding: 30px 75px;
    margin: 0;
}

.main-content .form-search input[type="text"]:focus {
    outline: none;
}

.main-content .form-search .icon-search {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.main-content .form-search .icon-target {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.main-content .filter-form {
    position: relative;
}

.main-content .ft {
    position: relative;
    display: inline-block;
    border-right: 1px solid #ededec;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
}

.main-content .facilities {
    border-left: 1px solid #ededec;
}

.main-content .filter {
    padding: 20px 20px 20px 45px;
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    float: left;
}

.main-content .facilities,
.main-content .classes {
    padding: 20px 45px 20px 20px;
    cursor: pointer;
    float: left;
}

.main-content p {
    margin: 0;
}

.main-content .filter .ft-icon {
    position: absolute;
    left: 5px;
}

.main-content .ft .chevron {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.main-content .ft.active+.container-list {
    background-color: #ededec;
    transition: all 350ms ease;
    opacity: 1;
    display: block;
}

.main-content .container-list {
    position: absolute;
    left: 0;
    padding: 10px 20px 30px;
    width: 100%;
    margin: 0;
    background-color: #ededec;
    z-index: 1;
    transition: all 350ms ease;
    top: 100%;
    display: none;
    opacity: 0;
}

.main-content .container-list .ul-location {
    margin-right: 150px;
}

.main-content .ft.active {
    background-color: #ededec;
}

.main-content .ul-location .location-item {
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    background-color: #fff;
    font-weight: 600;
    margin: 20px 20px 0 0;
}

.main-content .ft.active svg {
    transform: translateY(-50%) rotate(-180deg);
}

.main-content .container-list .closeBtn {
    position: absolute;
    top: 30px;
    right: 27px;
    width: 73px;
    height: 60px;
    background-color: #000;
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    cursor: pointer;
}

.main-content .container-list .closeBtn svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-content .container-list .closeBtn.btn::before {
    background-color: #424242;
}

.main-content .container-list .ul-location .location-item:hover {
    border-color: #d70926;
    color: #d70926;
}

.main-content .container-list .ul-location .location-item.active {
    background-color: #000;
    color: #fff;
    border-color: #000;
}

.main-content .ul-location .location-item .checkbox {
    display: none;
}

.main-content #toolbar.active {
    position: sticky;
    top: 109px;
    background-color: white;
    z-index: 1;
}

.main-content #toolbar {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .06);
}

.main-content .contain-title-list .title-list {
    display: none;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
}

.ls-club {
    margin-bottom: 20px;
}

.club-tag {
    padding: 24px 0;
    cursor: pointer;
    border-bottom: 1px solid #ededec;
}

.club-tag .img-club {
    width: 98px;
    height: 98px;
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: -36px;
}

.club-tag .img-club img {
    width: 100%;
    height: 100%;
}

.club-tag .info-club {
    display: inline-block;
}

.club-tag .info-club .location-club {
    font-weight: 600;
    margin: 0;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.5;
}

.club-tag .info-club .name-club {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 600;
    padding-right: 1.5rem;
    margin: 0;
}

.club-tag .info-club .facility-list img {
    margin: .75rem .75rem .75rem 0;
    width: 34px;
    border-radius: 50%;
    overflow: hidden;
}

.club-tag .chevron-club {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}


#map {
    padding: 0;
    max-width: 951.5px;
    height: 826px;
}

#map.active {
    position: sticky;
    top: 109px;
    z-index: 1;
}

#map img {
    width: 100%;
    height: 100%;
}

#map-responsive {
    display: none;
    max-width: 975px;
    max-height: 730px;
}

#map-responsive img {
    width: 100%;
    height: 100%;
}

.rich-text {
    background-size: cover;
    background-position: 50% 50%;
    padding: 72px 0;
    position: relative;
    background-color: #fff;
}

.rich-text::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #d70926;
}

.rich-text .rich-item {
    padding: 45px 32px;
    position: relative;
}

.rich-text .rich-item .rich-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
}

.rich-text .rich-item.put-ff .rich-title {
    color: white;
    white-space: nowrap;
}

.rich-text .rich-item .rich-text-item {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;
}

.rich-text .rich-item.put-ff .rich-text-item {
    color: white;
}

.rich-text .rich-item .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

.rich-text .rich-item.put-ff .join-now-btn {
    background-color: white;
    color: black;
    font-weight: 600;
}

.rich-text .rich-item.put-ff .join-now-btn:hover {
    background-color: #ededec;
}

.rich-text .rich-item.membership .membership-btn {
    background-color: black;
    color: white;
    font-weight: 600;
}

.rich-text .rich-item.membership .membership-btn:hover {
    background-color: #424242;
}


.header-footer {
    font-weight: 700;
    padding: 72px 0;
}

.header-footer p {
    font-size: 68px;
    color: white;
    line-height: 1.1;
    margin: 0;
}

.title-footer {
    background-color: black;
    padding: 45px 0;
}

.title-footer p {
    color: #fff;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: .1em;
    font-family: 'PlakW01', sans-serif !important;
}

.footer {
    background-color: black;
    color: #9a9a9a;
}

.footer .tag-list ul li p {
    color: #9a9a9a;
}

.tag-list {
    margin-bottom: 60px;
}

.title-item {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.child-item {
    font-size: 14px;
    font-weight: 500;
    transition: 250ms ease color;
    cursor: pointer;
}

.child-item:hover {
    color: #fff;
}

.social-media {
    display: inline-block;
}

.social-media>div {
    color: white;
    display: inline-block;
    position: relative;
    top: 5px;
}

svg {
    cursor: pointer;
}

.twitter:hover svg path {
    fill: #38a1f3;
}

.facebook svg {
    margin-left: 15px;
}

.facebook:hover svg path {
    fill: #4267b2;
}

.instagram svg {
    margin: 0 15px;
}

.instagram:hover svg path {
    fill: #bc2a8d;
}

.footer ul {
    list-style: none;
}

.footer-payment {
    background-color: #000;
    color: white;
}

.footer-payment .payment {
    padding-bottom: 45px;
    border-bottom: 1px solid #5d5d5c;
}

.footer-payment .payment-method .method {
    display: inline-block;
}


.payment-method {
    display: inline-block;
}

.accept-payment {
    margin: 0 15px;
    font-weight: 500;
    color: #fff;
    font-size: 14px;
}

.payment-method .img {
    height: 32px;
    margin-right: .75rem;
    display: inline-block;
}

.payment-method .img img {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #000;
}

.footer .chevron-footer {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 350ms ease all;
}

.footer .tag-list .title-item.active .chevron-footer {
    transform: translateY(-50%) rotate(180deg);
}

.footer-register {
    background-color: #000;
    padding: 30px 0 75px 0;
}

.footer-register p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 600;
    color: #9a9a9a;
}

.register-address {
    padding: 0;
}

.register-address .mgb-10 {
    margin-bottom: 10px;
}

.FF2023 {
    padding: 0;
    text-align: right;
}

.header2 .primary-navbar .responsive-navbar {
    display: none;
    position: relative;
    top: -4px;
}

.header2 .primary-navbar .responsive-navbar .btn {
    padding: 18px 30px;
}

.header2 .primary-navbar .responsive-navbar button {
    display: inline-block;
    position: relative;
    top: -5px;
    right: 0;
    width: 65px;
    height: 80px;
    padding: 20px 17px;
    background: transparent;
    border-radius: 0;
    z-index: 3;
    border: 0;
}

.header2 .primary-navbar .responsive-navbar button .bar {
    display: block;
    width: 28px;
    height: 3px;
    background: white;
    position: absolute;
    top: calc(50% - 1px);
    right: 19px;
    clip-path: polygon(3% 0, 100% 0%, 97% 100%, 0% 100%);
    transition: 150ms ease all;
}

.header2 .primary-navbar .responsive-navbar button .bar.top {
    top: calc(50% - 9px);
    right: 17px;
}

.header2 .primary-navbar .responsive-navbar button .bar.bottom {
    top: calc(50% + 7px);
    right: 21px;
}

.nav-hidden {
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 3;
    height: 100%;
    width: 85%;
    padding-top: 70px;
    padding-bottom: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 16px;
    line-height: 1.4;
    transform: translateX(100%);
    transition: all .5s ease;
}

.nav-hidden.active {
    transform: translateX(0%);
}

.nav-hidden .navbar-hidden .login-hidden {
    width: 100%;
    padding: 15px 15px 0;
    margin-bottom: 1.5rem;
}

.nav-hidden .navbar-hidden .login-hidden .login-tag {
    padding: 18px 20px;
    text-align: center;
    position: relative;
    background-color: #ededec;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #000;
    position: relative;
    overflow: hidden;
}

.nav-hidden .navbar-hidden .login-hidden .login-tag::before {
    content: '';
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #dddddd;
    z-index: 1;
    transform: translateX(-100%);
    transition: 250ms ease all;
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.nav-hidden .navbar-hidden .login-hidden .login-tag svg {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.nav-hidden .navbar-hidden .login-hidden .login-tag p {
    margin: 0;
    position: relative;
    z-index: 2;
}

.nav-hidden .navbar-hidden .login-hidden .login-tag:hover::before {
    display: block;
    transform: translateX(0);
}

.nav-hidden .navbar-hidden .search-box-hidden {
    position: relative;
    padding: 0 15px 15px 15px;
}

.nav-hidden .navbar-hidden .search-box-hidden input {
    border: none;
    outline: none;
    padding: 15px 30px 15px 15px;
    background-color: #ededec;
    width: 100%;
    border: 1px solid rgba(93, 93, 92, .3);
}

.nav-hidden .navbar-hidden .search-box-hidden svg {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    right: calc(3% + 15px);
}

.nav-hidden .navbar-hidden .ul-hidden {
    list-style: none;
}

.nav-hidden .navbar-hidden .ul-hidden .border-top {
    border-top: 1px solid #ededec;
}

.nav-hidden .navbar-hidden .ul-hidden li a {
    display: block;
    text-align: left;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ededec;
}

.nav-hidden .navbar-hidden .container-btn {
    padding: 15px 15px 0;
}

.nav-hidden .navbar-hidden .container-btn .btn {
    width: 100%;
    padding: 18px 20px;
}

.nav-hidden .navbar-hidden .container-btn .btn-book-hidden.btn::before {
    background-color: #424242;
}

.nav-hidden .navbar-hidden .container-btn .btn-book-hidden {
    background-color: #000;
}

.nav-hidden .navbar-hidden button {
    display: inline-block;
    position: absolute;
    top: -70px;
    right: 0;
    width: 65px;
    height: 80px;
    padding: 20px 17px;
    background: transparent;
    border-radius: 0;
    z-index: 3;
    border: 0;
}

.nav-hidden .navbar-hidden button .bar {
    display: block;
    width: 28px;
    height: 3px;
    background: black;
    position: absolute;
    transition: 150ms ease all;
}

.nav-hidden .navbar-hidden button .bar.top {
    transform: rotateZ(45deg);
    right: 16px;
    top: calc(50% - 2px);

}

.nav-hidden .navbar-hidden button .bar.bottom {
    transform: rotateZ(-45deg);
    right: 17px;
    top: calc(50% - 2px);
}

@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .header1 {
        display: none;
    }

    .header2 {
        top: 0;
    }

    .header2.active {
        box-shadow: none;
    }

    .header2.active .primary-header .primary-navbar button span {
        background-color: #000;
    }

    .primary-navbar {
        height: 80px;
        overflow: hidden;
    }

    .header2 .primary-header .logo a {
        width: 80px;
        height: 80px;
    }

    .header2 .primary-header .navbar {
        display: none;
    }

    .header2 .primary-header .nav-group-button {
        display: none;
    }

    .header2 .primary-navbar .responsive-navbar {
        display: block;
    }

    .btn {
        padding: 18px 20px;
    }

    .title-responsive {
        font-size: 44px !important;
    }

    .bg-header {
        padding-top: 110px;
        padding-bottom: 40px;
    }

    .bg-header .container-title {
        height: 48px;
        white-space: nowrap;
    }

    .bg-header .container-title .title {
        font-size: 30px;
        left: 26%;
        transform: translateX(-26%);
    }

    .club-tag .info-club .location-club {
        font-size: 16px;
    }

    .club-tag .info-club .name-club {
        font-size: 22px;
    }

    #map {
        display: none;
    }

    #map-responsive {
        display: block;
    }

    #map-responsive img {
        width: 100%;
    }

    .main-content #toolbar.active {
        position: relative;
        top: 0;
    }

    .main-content .filter-form {
        padding: 15px 0;
    }

    .main-content .ft {
        background-color: #ededec;
        border-radius: 50px;
        padding: 10px 20px;
        margin-right: 10px;
        font-size: 16px;
    }

    .main-content .filter {
        padding: 10px 20px 10px 35px;
        font-size: 16px;
    }

    .main-content .ft img.chevron {
        display: none;
    }

    .main-content .container-list {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: white !important;
        padding: 0;
        overflow-y: scroll;
        display: block;
        transform: translateX(100%);
        transition: all 350ms ease;
    }

    .main-content .ft.active+.container-list {
        transform: translateX(0);
    }


    .main-content .ul-location .location-item {
        display: block;
        border-radius: 0;
        border: 0;
        background-color: transparent;
        padding: 20px;
        margin: 0;
        border-bottom: 1px solid #ededec;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        position: relative;
    }

    .main-content .ul-location .location-item.bd-top {
        border-top: 1px solid #ededec;
    }

    .main-content .container-list .ul-location .location-item:hover {
        border-color: #ededec;
        color: #000;
    }

    .main-content .container-list .ul-location .location-item.active {
        background-color: white;
        color: black;
        border-color: #ededec;
    }

    .main-content .container-list .ul-location {
        margin: 0;
    }

    .main-content .container-list .closeBtn {
        display: inline-block;
        position: absolute;
        top: 0;
        color: #000;
        background-color: transparent;
        border: none;
        width: auto;
        height: auto;
        clip-path: none;
    }

    .main-content .container-list .closeBtn svg path {
        fill: black;
    }

    .main-content .container-list .closeBtn.btn::before {
        background-color: transparent;
    }


    .main-content .contain-title-list {
        position: relative;
        width: 100%;
        margin: 30px 0;
        padding-left: 20px;
        height: auto;
    }

    .main-content .contain-title-list .title-list {
        display: inline-block;
    }

    .main-content .ul-location .location-item .checkbox {
        display: block;
        width: 25px;
        height: 25px;
        border: 1px solid black;
        position: absolute;
        right: 20px;
        top: 6px;
    }

    .main-content .ul-location .location-item.active .checkbox {
        background-color: #d70926;
        border: none;
    }

    .main-content .ul-location .location-item .checkbox svg {
        position: absolute;
        top: 7px;
        left: 6px;
    }

    .main-content .form-search input[type="text"] {
        padding: 20px 50px;
    }

    .main-content .ft .chevron {
        display: none;
    }

    .club-tag {
        padding: 16px 0;
    }

    .club-tag .info-club .facility-list {
        display: none;
    }

    .club-tag .img-club {
        top: 0;
    }


    .rich-text {
        padding: 0;
    }

    .rich-text::before {
        display: none;
    }

    .rich-text .rich-text-join {
        background-color: #d70926;
    }

    .rich-text .rich-item .rich-title {
        font-size: 24px;
    }

    .rich-text .rich-item .rich-text-item {
        font-size: 16px;
    }

    .header-footer {
        padding: 48px 0;
    }

    .header-footer p {
        font-size: 44px;
    }

    .footer ul {
        display: none;
    }

    .title-footer {
        font-size: 22px;
        padding: 30px 0 20px;
    }

    .footer ul.active {
        display: block;
    }

    .footer ul li {
        margin: 0;
        margin-top: 10px;
    }

    .footer .tag-list {
        padding-bottom: 10px;
        border-bottom: 1px solid #5d5d5c;
        margin-bottom: 42px;
    }

    .footer .tag-list .title-item {
        margin: 0;
        position: relative;
    }

    .footer-payment .social-media {
        display: block;
    }

    .footer-payment .payment-method {
        padding-top: 32px;
        display: block;
    }

    .footer-payment .payment-method .accept-payment {
        margin: 0;
    }

    .footer-payment .payment-method .method {
        display: block;
    }

    .footer-register p {
        font-size: 12px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 15px;
    }

    .footer-register .register-address {
        letter-spacing: -0.1px;
    }

    .footer-register .FF2023 {
        padding-top: 32px;
        text-align: left;
    }

    .footer .tag-list .title-item .chevron-footer {
        display: inline-block;
    }
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
    .font-title-tablet {
        font-size: 56px !important;
    }

    .btn {
        padding: 18px 20px;
    }

    body {
        overflow-x: hidden;
    }

    .header1 {
        display: none;
    }

    .header2 {
        top: 0;
    }

    .header2.active {
        box-shadow: none;
    }

    .header2.active .primary-header .primary-navbar button span {
        background-color: #000;
    }

    .primary-navbar {
        height: 80px;
        overflow: hidden;
    }

    .header2 .primary-header .logo a {
        width: 80px;
        height: 80px;
    }

    .header2 .primary-header .navbar {
        display: none;
    }

    .header2 .primary-header .nav-group-button {
        display: none;
    }

    .header2 .primary-navbar .responsive-navbar {
        display: block;
    }

    .bg-header {
        padding-top: 110px;
        padding-bottom: 40px;
    }

    .bg-header .container-title {
        height: 62px;
    }

    .bg-header .container-title .title {
        font-size: 40px;
        left: 26%;
        transform: translateX(-26%);
    }

    #map {
        display: none;
    }

    #map-responsive {
        display: block;
    }

    #map-responsive img {
        width: 100%;
    }

    .main-content #toolbar.active {
        position: relative;
        top: 0;
    }


    .main-content .filter-form {
        padding: 15px 0;
    }

    .main-content .ft {
        background-color: #ededec;
        border-radius: 50px;
        padding: 10px 20px;
        margin-right: 10px;
        font-size: 16px;
    }

    .main-content .filter {
        padding: 10px 20px 10px 35px;
        font-size: 16px;
    }

    .main-content .ft img.chevron {
        display: none;
    }

    .main-content .container-list {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: white !important;
        padding: 0;
        overflow-y: scroll;
        display: block;
        transform: translateX(100%);
        transition: all 350ms ease;
    }

    .main-content .ft.active+.container-list {
        transform: translateX(0);
    }


    .main-content .ul-location .location-item {
        display: block;
        border-radius: 0;
        border: 0;
        background-color: transparent;
        padding: 20px;
        margin: 0;
        border-bottom: 1px solid #ededec;
        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        position: relative;
    }

    .main-content .ul-location .location-item.bd-top {
        border-top: 1px solid #ededec;
    }

    .main-content .container-list .ul-location .location-item:hover {
        border-color: #ededec;
        color: #000;
    }

    .main-content .container-list .ul-location .location-item.active {
        background-color: white;
        color: black;
        border-color: #ededec;
    }

    .main-content .container-list .ul-location {
        margin: 0;
    }

    .main-content .container-list .closeBtn {
        display: inline-block;
        position: absolute;
        top: 0;
        color: #000;
        background-color: transparent;
        border: none;
        width: auto;
        height: auto;
        clip-path: none;
    }

    .main-content .container-list .closeBtn svg path {
        fill: black;
    }

    .main-content .container-list .closeBtn.btn::before {
        background-color: transparent;
    }

    .main-content .contain-title-list {
        position: relative;
        width: 100%;
        margin: 30px 0;
        padding-left: 20px;
        height: auto;
    }

    .main-content .contain-title-list .title-list {
        display: inline-block;
    }

    .main-content .ul-location .location-item .checkbox {
        display: block;
        width: 25px;
        height: 25px;
        border: 1px solid black;
        position: absolute;
        right: 20px;
        top: 6px;
    }

    .main-content .ul-location .location-item.active .checkbox {
        background-color: #d70926;
        border: none;
    }

    .main-content .ul-location .location-item .checkbox svg {
        position: absolute;
        top: 7px;
        left: 6px;

    }

    .main-content .ft .chevron {
        display: none;
    }

    .main-content .form-search input[type="text"] {
        padding: 20px 50px;
    }

    .club-tag .info-club .facility-list {
        display: none;
    }

    .club-tag .img-club {
        top: 0;
    }


    .rich-text {
        padding: 0;
        margin-top: 20px;
    }

    .rich-text .rich-item .rich-title {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 15px;
        text-align: center;
    }

    .rich-text .rich-item.put-ff .rich-title {
        color: white;
    }

    .header-footer {
        padding: 51px 0;
    }

    .header-footer p {
        font-size: 56px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1290px) {
    .nav-item {
        padding: 15px 10px;
    }

    .bg-header .bg-header-container .bg-header-content .title {
        font-size: 66px;
    }
}